.place__link {
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: opacity 0.4s ease-in;
  display: block;
  text-decoration: underline;
}

.place__link:hover {
  opacity: 0.8;
}
