.place {
  max-width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 28px;
    row-gap: 48px;
  }
}

