.place {
  max-width: 100%;
  margin-bottom: 50px;
}

.place:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .place {
    margin-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 28px;
    row-gap: 48px;
  }
}
@media (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
  }
}
